@CHARSET "UTF-8";

/**
 * There is no resuable way of generating a tab layout and Dynamo
 * has too many fixed widths so we have to work with what we got.
 */
#eresource-page .panel-left { width: auto; }
#eresource-page .panel-middle { width: 510px; }
#eresource-page .panel-middle .panel-pane { padding: 20px; }
#eresource-page .tab-navigation-main { width: 510px; }

.view-eresource-list .view-filters { float: right; }
.view-eresource-list ul { clear: both; }

.view-eresource-list li { padding: 10px 0; background: transparent url(../img/bg-divider.png) no-repeat left top; }
.view-eresource-list li.first { padding-top: 0; background: none; }

/* E-resource nodes */
.node-eresource .logo { float: right; padding: 0 0 10px 10px; }
